body{
    margin: 0;
    background-color: white;
    color: #666;
    font-family: 'Open Sans', arial, helvetica, sans-serif;
    line-height: 1.7;
}

.main-header-sombreamento{
    background-image: url(../images/bg.jpg);
    background-position: 0% 75%;
    background-size: 142%;
    width: 34.5%;
    height: 100%;
    position: fixed;
    left: 0;
}
.main-header{
    background-color: rgba(37, 37, 37, 0.404);
    width: 34.5%;
    height: 100%;
    position: fixed;
    left: 0;


}

.main-header img{
    border-radius: 50%;
    position: relative;
    height: 23%;
    left: 296px;
    margin-top: 124px;
    margin-bottom: 20px;

}

.main-header h1{
    position: relative;
    left: -50px;
    font-weight: 100;
    font-size: 22px;
    color: rgba(255, 255, 255, 0.562);
    text-align: end;
    letter-spacing: 1px;

}

.main-header strong{
    color: white;
}
#span-link{
    position: relative;
    left:275px;
    top: 25px;
    font-size: 18px;
}
#link:visited{
    color: gray;
}
#link{
    transition: color .2s linear, border .2s linear;
    text-decoration: none;
    border-bottom: 1px dotted;
    
}
#link:hover{
    transition: color .2s linear, border .2s linear;
    text-decoration: none;
    border-bottom: 1px dotted;
    color: #49bf9d;
}

.main-content{
    background-color: white;
    width: 61%;
    position: fixed;
    right: 0;
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
    font-size: 20px;
    
}

.main-content-section{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 90%;
    line-height: 0;
    margin-bottom: 40px;
    margin-top: 40px;
}



#name{
    font-size: 30px;
    font-weight: 400;
    
}

#informations{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.informations-row{
    display: flex;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}

#informations article{

    width: 45%;
    background-color: rgba(37, 37, 37, 0.178);
    color: rgba(0, 0, 0, 0.767);
    margin-right: 50px;
    margin-bottom: 50px;
    border-radius: 15px;
    
}

#knowledge{
    line-height: 15px;
}

#knowledge h3{
    margin-top: 35px;
    margin-bottom: 39px;
}

